<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>CHECK YOURSELF</title>

    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/datepicker.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <!-- preloader  -->
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="H" class="letters-loading">
                        H
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="K" class="letters-loading">
                        K
                    </span>
                    <span data-text-preloader="Y" class="letters-loading">
                        Y
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="U" class="letters-loading">
                        U
                    </span>
                    <span data-text-preloader="R" class="letters-loading">
                        R
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                        S
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                        F
                    </span>
                </div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- header start -->
    <header id="sticky-header" class="site-header">
        <div class="container custom-header">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <a href="index.html" class="site-logo">
                        <img src="assets/images/logo/logo.png" alt="">
                    </a>
                    <div class="mobile-menu"></div>
                </div>
                <div class="col-xl-6 col-lg-9 my-auto">
                    <div class="mainmenu">
                        <nav id="mobile-menu">
                            <ul style="margin-left: 250px">
                                <li><a href="#0">Home +</a>
                                </li>
                                <li><a href="#features">Features +</a></li>
                                <li><a href="#about">About Us +</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- Hero area start -->
    <section class="hero-area bg_img" data-background="assets/images/banner/01.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-content">
                        <h1 class="title">Get Cure With <br>
                            Our Checking<span>.</span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi <br>
                            cing elit, sed do eiusmod tempor incidid.</p>
                        <div class="hero-buttons">
                            <a href="#" class="site-btn">Our Departments</a>
                            <a href="#" class="site-btn red">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-ilustration-shape">
            <img src="assets/images/ilustration/ilustration-1.png" alt="">
        </div>
    </section>
    <!-- Hero area end -->

    <!-- feature area start -->
    <section class="feature-area pb-120" id="features">
        <div class="container feature-container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 text-center">
                    <div class="section-heading mb-70">
                        <h2 class="section-title shape">Our Features</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                            or incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-none-50">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-01.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">BMI Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-02.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">Blood Pressure Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-03.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">Blood Sugar Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-50">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-01.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">Cholestrol Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-02.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">AKG Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 mt-50 text-center">
                    <div class="single-feature-box">
                        <div class="icon">
                            <img src="assets/images/icons/feature-icon-03.png" alt="">
                        </div>
                        <div class="content">
                            <h3 class="title">Blood Sugar Checking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                                or incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end -->

    <!-- about area start -->
    <section class="department-area bg-2 pt-110 pb-110" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 text-center">
                    <div class="section-heading mb-70">
                        <h2 class="section-title shape">About us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                            or incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-none-50">
                <div class="col-xl-2 col-lg-6 col-md-6 ml-3 mt-50 text-center">
                    <div class="single-department">
                        <div class="thumb">
                            <img src="assets/images/team/department-01.png" alt="">
                            <span class="count bg-1">01</span>
                        </div>
                        <div class="content">
                            <h4 class="title">Nurrakhman</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incid.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 ml-3 mt-50 text-center">
                    <div class="single-department small-box">
                        <div class="thumb">
                            <img src="assets/images/team/department-02.png" alt="">
                            <span class="count bg-2">02</span>
                        </div>
                        <div class="content">
                            <h4 class="title">Busyairi</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incid.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 ml-3 mt-50 text-center">
                    <div class="single-department">
                        <div class="thumb">
                            <img src="assets/images/team/department-03.png" alt="">
                            <span class="count bg-3">03</span>
                        </div>
                        <div class="content">
                            <h4 class="title">Rosa</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incid.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 ml-3 mt-50 text-center">
                    <div class="single-department small-box">
                        <div class="thumb">
                            <img src="assets/images/team/department-04.png" alt="">
                            <span class="count bg-4">04</span>
                        </div>
                        <div class="content">
                            <h4 class="title">Fitra Apri</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incid.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 ml-3 mt-50 text-center">
                    <div class="single-department">
                        <div class="thumb">
                            <img src="assets/images/team/department-03.png" alt="">
                            <span class="count bg-5">05</span>
                        </div>
                        <div class="content">
                            <h4 class="title">Igna</h4>
                            <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incid.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->

    <!-- form akg area start -->
    <div class="contact-area pt-110 pb-110 bg_img" data-overlay="94"
        data-background="assets/images/bg/contact-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="appointment" role="tabpanel"
                                    aria-labelledby="appointment-tab">
                                    <div class="contact-form">
                                        <h3 class="text-center mb-60">Check your AKG  here</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter your name">
                                                        <span class="icon"><i class="fas fa-venus-mars"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <select name="gender">
                                                            <option data-display="Select Gender">Select Gender
                                                            </option>
                                                            <option value="true">Female</option>
                                                            <option value="false">Male</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your age">
                                                        <span class="icon"><i class="fas fa-child"></i><span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your weight">
                                                        <span class="icon"><i class="fas fa-weight"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type='number'placeholder="Enter your height">
                                                        <span class="icon"><i class="fas fa-arrows-alt-v"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your intensity">
                                                        <span class="icon"><i class="fas fa-wheelchair"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-4 text-center">
                                                    <a href="#" class="site-btn red">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form akg area end -->

    <!-- form blood sugar area start -->
    <div class="contact-area pt-110 pb-110 bg_img" data-overlay="94"
        data-background="assets/images/bg/contact-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="appointment" role="tabpanel"
                                    aria-labelledby="appointment-tab">
                                    <div class="contact-form">
                                        <h3 class="text-center mb-60">Check your blood sugar here</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" id="name" name="name" placeholder="Enter your name">
                                                        <span class="icon"><i class="fas fa-venus-mars"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <input type="number" id="name" name="age" placeholder="Enter your age">
                                                        <span class="icon"><i class="fas fa-child"></i><span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input name="blood_sugar" id="blood_sugar" type="number" placeholder="Enter your blood sugar">
                                                        <span class="icon"><i class="fas fa-cookie-bite"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-4 text-center">
                                                    <a href="#" class="site-btn red">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form blood sugar area end -->

    <!-- form blood pressure area start -->
    <div class="contact-area pt-110 pb-110 bg_img" data-overlay="94"
        data-background="assets/images/bg/contact-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="appointment" role="tabpanel"
                                    aria-labelledby="appointment-tab">
                                    <div class="contact-form">
                                        <h3 class="text-center mb-60">Check your blood pressure here</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter your name">
                                                        <span class="icon"><i class="fas fa-venus-mars"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your diastolik">
                                                        <span class="icon"><i class="fas fa-heartbeat"></i><span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your sistolik">
                                                        <span class="icon"><i class="fas fa-file-medical-alt"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-4 text-center">
                                                    <a href="#" class="site-btn red">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form blood pressure area end -->


    <!-- form BMI area start -->
    <div class="contact-area pt-110 pb-110 bg_img" data-overlay="94"
        data-background="assets/images/bg/contact-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="appointment" role="tabpanel"
                                    aria-labelledby="appointment-tab">
                                    <div class="contact-form">
                                        <h3 class="text-center mb-60">Check your BMI here</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter your name">
                                                        <span class="icon"><i class="fas fa-venus-mars"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your weight">
                                                        <span class="icon"><i class="fas fa-weight"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type='number'placeholder="Enter your height">
                                                        <span class="icon"><i class="fas fa-arrows-alt-v"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-4 text-center">
                                                    <a href="#" class="site-btn red">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form BMI area end -->

    <!-- form cholestrol area start -->
    <div class="contact-area pt-110 pb-110 bg_img" data-overlay="94"
        data-background="assets/images/bg/contact-bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="appointment" role="tabpanel"
                                    aria-labelledby="appointment-tab">
                                    <div class="contact-form">
                                        <h3 class="text-center mb-60">Check your Cholestrol here</h3>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter your name">
                                                        <span class="icon"><i class="fas fa-venus-mars"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="number" placeholder="Enter your cholesterol level">
                                                        <span class="icon"><i class="fas fa-heartbeat"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type='number'placeholder="Enter your blood pressure">
                                                        <span class="icon"><i class="fas fa-heartbeat"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-4 text-center">
                                                    <a href="#" class="site-btn red">Submit</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form cholestrol area end -->

    <!-- footer start -->
    <footer class="site-footer pt-100 pb-80">
        <div class="container">
            <div class="row">
                    <div class="row">
                        <p class="center">Copyright 
                            <a href="https://themepure.net/cdn-cgi/l/email-protection"></a>
                            <span>Example</span> - 2020
                        </p>
                    </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!--========= JS Here =========-->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/datepicker.en.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from themepure.net/template/medixer-prv/medixer/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jan 2022 06:56:45 GMT -->

</html>