*{
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: yellowgreen;
}

.header{
    height: 300px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-content{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bp{
    background: turquoise;
}
.cole{
    background: darksalmon;
}

.form{
    background: tomato;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.form form{
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    /* background: cornflowerblue; */
}

.form h1{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* background: cornflowerblue; */
}

.process {
    margin-top: auto;
    margin-bottom: 30PX;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.result-info{
    border-radius: 10px;
    background-color: slateblue;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
}

.result-info p{
    font-size: 20px;
}




.result img{
    width: 200px;
}

.footer{
    height: 100px;
    background: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

