header {
    background-color: #000000;
}
.logo{
    width: 18%;
    padding: 5px;
}
#header1 {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}
.sticky{
    position: sticky;
    top: -15px;
    z-index: 1;
    padding: 20px 0 10px;
}
.flex-grow {
    flex-grow: 1;
    display: inline;
}

#header2 {
     position: relative;
}

.text-banner {
    color: #00adb5;
    position: absolute;
    bottom: 50%;
    left: 20%;
    font: condensed bolder 70px roboto;
}

.hide-desktop{
    display: none;
}
.hide-mobile{
    display: block;
}

.position-button {
    position: absolute;
    bottom: 40%;
    left: 20%;
}

button {
    padding: 5px 30px;
    background-color: #EB7B41;
    font: condensed 16px roboto;
    color: white;
    border-radius: 10px;
    border-width: 0px;
}
button:hover {
    background-color: #00adb5;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    margin: auto;   overflow: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 45%;
    margin: auto;
}
.flex-row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 30%;
    margin: auto;
}
.flex-row3 {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 60%;
    margin: auto;
}

.flex-column, .flex-column-product {
    flex: 20%;
    max-width: 100%;
    padding: 0 8px;
}

.flex-column2, .flex-column-product {
    flex: 10%;
    max-width: 100%;
    padding: 0 8px;
}
  
.flex-column img {
    margin-top: 8px;
    width: 100%;
}

.shop-now {
    position: relative;
    overflow: hidden;
}
.shop-now2 {
    border-radius: 50%;
    max-width: 100%;
    opacity: 50%;
}
.shop-now2:hover {
    border-radius: 50%;
    max-width: 100%;
    opacity: 100%;
}
.aboutUsNama{
    text-align:center; 
    font-size:18px;
}


.shop-now .shop {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: scale(1);
	transition: .3s ease-in-out;
}

.shop-now:hover .shop2 {
    transform: scale(1.1);
    transition: 1.5s ease-in-out;
}
.shop-now:hover .shop {
    display: inline;
    opacity: 0;
    transition: .5s ease;
    transform: scale(1.3);
}

.container-product {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.image-product {
    display: block;
    width: 100%;
    height: auto;  
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    padding-left:5%;
}

.layer-hitam {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: .5s ease;
}
  
.container-product:hover .layer {
    height: 50px;  
}
  
.container-product:hover .layer-hitam {
    height: 100%;
    opacity:.5;
}
.text-center{
    text-align: center;
}

.product, #footer{
    background-color: #222831;
    padding: 30px 0 40px;
}

td, th {
    text-align: left;
    padding: 10px;
    font-size: 12px;
}
th{
    color: #00adb5;
}
td{
    color: white;
}

table {
    border-collapse: collapse;
    width: 50%;
}
table :hover{
    color: #EB7B41;
    cursor: pointer;
}

.icon-footer{
    width: 50%;
}

h1{
    font: 55px roboto;
    color: #00ADB5;
    margin:0px;
}

.sub-judul{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
}

.content-text{
    font: condensed 20px roboto;
    color:  #393E46;
    margin: 5px 0;
}
article img{
    width: 30%;
    padding: 10px 0 10px 60px;
}
.container-about{
    padding: 100px 80px;
}
.container{
    width: 60%; 
    margin: auto;
    display: flex;
}

.icon{
    margin: 0 5px;
    opacity: .5;
    float: right;
    width: 25px;
}
.icon:hover{
    opacity: 1;
}

.container-footer{
    width: 60%;
    margin: auto;
    display: flex;
}

.profile{
    position: relative;
    display: flex;
}

.card {
    border-radius: 10px;
    padding: 20px 0 0;
    margin: 15px 0 40px;
    background-color: #212832;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 60%);
}

h2{
    font: condensed 48px roboto;
    color: #00adb5;
    line-height: 30px;
}
h3{
    margin-top: 50px;
    font-size: 24px;
    color: #EB7B41;
}
.profile-text{
    color: white;
    padding: 12% 0 0 8%;
    text-align: right;
}
.profile-image{
    width: 20%;
    padding-left: 14%;
}

.content{
    font-size: 14px;
    line-height: 0px;
}

.topnav {
  overflow: hidden;
  display: flex;
  position: sticky;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    text-decoration: underline;
    color: #EB7B41;
}

.topnav .menu {
  display: none;
}
.containter-shop-now{
    display:flex; 
    width: 60%; 
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

aside{
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1366px) {
    article img{
        width: auto;
        padding: 10px 0 10px 60px;
        height: 347px;
    } 
    h1{
        font: 32px roboto;
    }
    h2{
        font: condensed 36px roboto;
    }
    h3{
        font-size: 20px;
    } 
    .sub-judul{
        font-size: 18px;
    }
    .content-text{
        font: condensed 14px roboto;
    }
    .container-about{
        padding: 72px 50px 30px;
    }
    .profile-image{
        width: auto;
        padding-left: 10%;
        height: 252px;
    }
    .profile-text{
        padding: 0 0 0 8%;
    }
}

@media screen and (max-width: 600px) {
    #header1 {
        width: 90%;
    }

    .topnav {
        display: block;
      }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.menu {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .menu {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    aside{
        width: 60%;
        margin: auto;
    }

    .logo{
        width: 40%;
        padding: 5px;
    }
    .container{
        width: 90%;
        margin: auto;
        display: block;
    }
    article img{
        width: 80%;
        padding: 2% 10%;
        height: auto;
    }
    
    .container-about{
        padding: 10px 23px;
        text-align: center;
    }

    h1{
        font: 24px roboto;
    }

    .sub-judul{
        font-size: 16px;
        line-height: 18px;
    }
    .content-text{
        font: condensed 12px roboto;
    }

    .flex-row{
        width: 95%;
    }

    .flex-column{
        flex: 45%;
    }
    .flex-column-product{
        flex: 50%;
    }
    .hide-desktop{
        display: block
    }
    .hide-mobile{
        display: none;
    }
    .text-banner {
        bottom: 40%;
        left: 10%;
        font: condensed bolder 32px roboto;
    }
    .position-button {
        bottom: 25%;
        left: 10%;
    }
    .card {
        padding: none;
    }
    .profile-image{
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 0;
        height: auto;
    }
    h2{
        font: condensed 28px roboto;
        margin: 20px 0 10px;
    }
    .sub-judul{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .content{
        font-size: 12px;
        margin-top: 5px;
    }
    h3{
        font-size: 18px;
        color: #EB7B41;
        padding: 0 32px 30px;
        margin-top: 30px;
    } 
    aside{
        width: 90%;
      }
    .profile-text{
        padding: 0;
        text-align: center;
    }
    .profile{
        display: block;
    }
    td, th {
        padding: 8px;
    }
    table{
        width: 90%;
        margin-bottom: 5px;
    }
    .icon-footer{
        /*width: 50%;*/
        padding: 5px 0;
        float: left;
    }
    .container-footer{
        width: 75%;
        display: block;
    }
}

