header {
  background-color: #c0fbff;
}

.logo {
  width: 25%;

}
#header1 {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}
.sticky {
  position: sticky;
  top: -15px;
  z-index: 1;
  padding: 20px 0 10px;
}
.flex-grow {
  flex-grow: 1;
  display: inline;
}

#header2 {
  position: relative;
}

.text-banner {
    color: #0f0033;
    position: absolute;
    bottom: 35%;
    left: 20%;
    font: condensed bolder 70px roboto;
}

.hide-desktop {
  display: none;
}
.hide-mobile {
  display: block;
}

.position-button {
  position: absolute;
  bottom: 40%;
  left: 20%;
}

body {
  font-family: sans-serif;
  margin: auto;
  overflow: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 45%;
  margin: auto;
}

.flex-column,
.flex-column-product {
  flex: 20%;
  max-width: 100%;
  padding: 0 8px;
}

.flex-column img {
  margin-top: 8px;
  width: 100%;
}

.shop-now {
  position: relative;
  overflow: hidden;
}

.shop-now .shop {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.shop-now2 {
  border-radius: 50%;
  max-width: 100%;
  opacity: 50%;
}
.shop-now2:hover {
  border-radius: 50%;
  max-width: 100%;
  opacity: 100%;
}
.aboutUsNama{
  text-align:center; 
  font-size:18px;
  font-weight: 700;
  color: #00ADB5;
}

h1{
  font: 55px roboto;
  color: #00ADB5;
  margin:0px;
}

.shop-now:hover .shop2 {
  transform: scale(1.1);
  transition: 1.5s ease-in-out;
}
.shop-now:hover .shop {
  display: inline;
  opacity: 0;
  transition: 0.5s ease;
  transform: scale(1.3);
}

.container-product {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.image-product {
  display: block;
  width: 100%;
  height: auto;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  overflow: hidden;
  padding-left: 5%;
}

.layer-hitam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.container-product:hover .layer {
  height: 50px;
}

.container-product:hover .layer-hitam {
  height: 100%;
  opacity: 0.5;
}
.text-center {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.product,
#footer {
  background-color: #c0fbff;
  padding: 30px 0 40px;
  margin-top: 30px;
}

td,
th {
  text-align: left;
  padding: 10px;
  font-size: 12px;
}
th {
  color: #00adb5;
}
td {
  color: white;
}

table {
  border-collapse: collapse;
  width: 50%;
}
table :hover {
  color: #eb7b41;
  cursor: pointer;
}

.icon-footer {
  width: 50%;
}

h1 {
  font: 32px roboto;
  color: #00adb5;
  margin: 0px;
}

.sub-judul {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 5px;
}

.content-text{
  font-family: "Roboto", sans-serif;
  color:  #393E46;
  margin: 5px 0;
}
article img {
  width: 30%;
  padding: 10px 0 10px 60px;
}
.container-about {
  padding: 100px 80px;
}
.container-igna {
  width: 60%;
  margin: auto;
  display: flex;
}

.icon {
  margin: 0 5px;
  opacity: 0.5;
  float: right;
  width: 25px;
}
.icon:hover {
  opacity: 1;
}

.container-footer {
  width: 60%;
  margin: auto;
  display: flex;
}

.profile {
  position: relative;
  display: flex;
}

.card {
  border-radius: 10px;
  padding: 20px 0 0;
  margin: 15px 0 40px;
  background-color: #212832;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 60%);
}

h2 {
  font: condensed 48px roboto;
  color: #00adb5;
  line-height: 30px;
}
h3 {
  margin-top: 50px;
  font-size: 24px;
  color: #eb7b41;
}
.profile-text {
  color: white;
  padding: 12% 0 0 8%;
  text-align: right;
}
.profile-image {
  width: 20%;
  padding-left: 14%;
}

.content {
  font-size: 14px;
  line-height: 0px;
}

.topnav {
  overflow: hidden;
  display: flex;
  position: sticky;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: underline;
  color: #eb7b41;
}

.topnav .menu {
  display: none;
}
.containter-shop-now{
  display:flex; 
  width: 60%; 
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

aside {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 1366px) {
  article img {
    width: auto;
    padding: 10px 0 10px 60px;
    height: 347px;
  }
  h1 {
    font: 32px roboto;
  }
  h2 {
    font: condensed 36px roboto;
  }
  h3 {
    font-size: 20px;
  }
  .sub-judul {
    font-size: 18px;
  }
  .content-text {
    font: condensed 14px roboto;
  }
  .container-about {
    padding: 72px 50px 30px;
  }
  .profile-image {
    width: auto;
    padding-left: 10%;
    height: 252px;
  }
  .profile-text {
    padding: 0 0 0 8%;
  }
}

@media screen and (max-width: 600px) {
  #header1 {
    width: 90%;
  }

  .topnav {
    display: block;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.menu {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  aside {
    width: 60%;
    margin: auto;
  }

  .logo {
    width: 40%;
    padding: 5px;
  }
  .container {
    width: 90%;
    margin: auto;
    display: block;
  }
  article img {
    width: 80%;
    padding: 2% 10%;
    height: auto;
  }

  .container-about {
    padding: 10px 23px;
    text-align: center;
  }

  h1 {
    font: 24px roboto;
  }

  .sub-judul {
    font-size: 16px;
    line-height: 18px;
  }
  .content-text {
    font: condensed 12px roboto;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 45%;
    margin: auto;
  }
  .flex-row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 30%;
    margin: auto;
  }
  .flex-row3 {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    width: 60%;
    margin: auto;
  }

  .flex-column {
    flex: 45%;
  }
  .flex-column-product {
    flex: 50%;
  }
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .text-banner {
    bottom: 40%;
    left: 10%;
    font: condensed bolder 32px roboto;
    font-family: "Roboto", sans-serif;
  }
  .position-button {
    bottom: 25%;
    left: 10%;
  }
  .card {
    padding: none;
  }
  .profile-image {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    height: auto;
  }
  h2 {
    font: condensed 28px roboto;
    margin: 20px 0 10px;
  }
  .sub-judul {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .content {
    font-size: 12px;
    margin-top: 5px;
  }
  h3 {
    font-size: 18px;
    color: #eb7b41;
    padding: 0 32px 30px;
    margin-top: 30px;
  }
  aside {
    width: 90%;
  }
  .profile-text {
    padding: 0;
    text-align: center;
  }
  .profile {
    display: block;
  }
  td,
  th {
    padding: 8px;
  }
  table {
    width: 90%;
    margin-bottom: 5px;
  }
  .icon-footer {
    /*width: 50%;*/
    padding: 5px 0;
    float: left;
  }
  .container-footer {
    width: 75%;
    display: block;
  }
}

/* STYLE DARI NURR */

/* * {
    margin: 0;
  } */
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: white;
  }

  .akgform{
    margin-top: 20px;
  }

  #radio-akg{
    margin : 8px;
  }
  
  .form h1 {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    /* background: cornflowerblue; */
  }
  
  .process {
    margin-top: auto;
    margin-bottom: 30px;
  }
  
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .result-info {
    border-radius: 10px;
    background: linear-gradient( 90deg, rgba(76, 188, 211, 1) 0%, rgba(1, 140, 196, 1) 100% );
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
  }
  
  .result-info p {
    font-size: 20px;
  }
  
  .result img {
    width: 160px;
  }
  
  .footer {
    height: 100px;
    background: violet;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .likert li {
    float: left;
    list-style-type: none;
  }
/* START STYLING FORM*/
/* 24. Login */
.basic-check {
  padding: 90px;
  border: 2px solid #eaedff;
  margin: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .basic-check {
    padding: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .basic-check {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .basic-check {
    padding: 30px;
  }
}

.basic-check h3 {
	font-size: 30px;
	font-weight: 600;
}

.basic-check input {
  margin: 15px;
  border: 2px solid #eaedff;
  color: #6f7172;
  padding: 20px 20px;
}

.basic-check label {
  color: #222;
  display: block;
}

.basic-check label span {
  color: #fe4536;
}

.text-center{
  margin-bottom: 20px;
}
.site-btn {
	font-weight: 700;
	padding: 17px 44px;
	color: #fff;
	text-transform: capitalize;
	border-radius: 40px;
	font-size: 16px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 8px 16px 0px rgba(4, 142, 197, 0.3);
	background: linear-gradient( 90deg, rgba(76, 188, 211, 1) 0%, rgba(1, 140, 196, 1) 100% );
	border: 0;
  margin : 20px;
}

.site-btn-delete {
	font-weight: 700;
	padding: 17px 44px;
	color: #fff;
	text-transform: capitalize;
	border-radius: 40px;
	font-size: 16px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 8px 16px 0px rgba(155, 18, 18, 0.3);
	background: linear-gradient( 90deg, rgb(243, 72, 72) 0%, rgb(165, 31, 31) 100% );
	border: 0;
  margin : 20px;
}

/* End STYLING FORM*/